@model  List<MertKoleksiyoner.Models.Araba>
@{
    ViewBag.Title = "DieCastNedir";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}

<h2>Matchbox ve Diğerleri</h2>

<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="mt-0 header-title">DieCast Miniklerin Dev Savaşı</h4>
                            <div class="table-responsive">
                                <table class="table mb-1">
                                    <thead class="table-dark">
                                        <tr>

                                            <th>#</th>
                                            <th>DieCast Tutkusu!</th>

                                        </tr>
                                    </thead>
                                    <tbody>


                                        <tr>
                                            <td>
                                                Dünya genelinde oyuncak ve koleksiyon dünyasındaki en popüler parçalardan biri olan Diecast bir başka deyişle model araç koleksiyonculuğu ülkemizde 2000‘li yılların başından itibaren rağbet görmeye başlamıştır.

                                                Ülkemizde henüz üretimi olmayan kaliteli örneklerine yurt dışından yüksek maliyetlerle sahip olunan bu koleksiyon ürününü tanıyalım...

                                                DİECAST NEDİR
                                                Die-cast model, kalıp döküm yöntemiyle üretilen her türlü modele verilen isimdir. Modeller metal ve plastikten yapılmaktadır.

                                                Metal kısımlar genellikle çinko ve alüminyum alaşımı olan ZAMAK adı verilen karışımından oluşmaktadır.

                                                Zamak aynı zamanda “beyaz metal” veya “kap metal” olarak da bilinir. Zamak olarak bilinen karışım üretimi ucuz ve işlenmesi kolay olduğu için tercih edilmiştir.

                                                Diecast hakkında bilmeniz gerekenler #1

                                                Bu yöntemle birçok model üretilebilir ama en çok bilinen die-cast modeller ölçekli araba, uçak, iş makinaları ve tren modelleridir.Döküm bir araba, gerçek bir arabanın kaba bir kopyası olabilirken, motorlar, kapılar veya tekerlekler gibi hareketli parçaların küçük ayrıntıları gerçek muadillerini kopyalayan çok ayrıntılı çalışmalardır.

                                                DİECAST TARİHÇESİ
                                                İlk die-cast modellerİ 20. yüzyılın başlarında İngiltere’de Meccano (Dinky Toys) ve Amerika’da Dowst Brothers (Tootsietoys) tarafından üretilmiştir.

                                                Piyasadaki bu ilk modeller, ufak arabaların veya vanların, iç detayı olmayan gövdelerinden oluşan basit modellerdi. İlk zamanlarda Zamak karışımının saf olmayışı metalin çabuk eskimesine sebep oluyordu bu nedenle modeller sebepsiz yere kırılıyor veya çürüyordu. Bu duruma bağlı olarak 2. Dünya Savaşı öncesinde üretilmiş olan die-cast modelleri iyi durumda bulmak zordur.

                                                1947′de Lesney die-cast modeller üretmeye başladı. Popüler Matchbox 1-75 serileri, 75 farklı araç modeli içeren seriler olarak üretiliğinden ve kibrit (match) kutusuna (box) benzeyen kutularda ambalajlandığından, bu ismi almıştır.

                                                Bu modeller o kadar tanındılar ki Matchbox ismi, üreticisi kim olursa olsun, die-cast model arabaları tanımlayıcı bir isim haline gelmişti.Die-cast modellerin popülerliği 1950′lerde, detayları ve kaliteleri artınca, koleksiyon amaçlı olarak arttı. Bunun sonucu olarak daha fazla firma pazara girdi.

                                                1956′da Mettoy firması tarafından piyasaya sürülen Corgi markası, modellerinde iç detayları yerleştirerek ve şeffaf plastik pencereleri kullanarak detaylarda daha aslına benzerlik gösteren modellere öncülük etmiş oldu.

                                                Diecast hakkında bilmeniz gerekenler #2

                                                1968′de Amerika’da Hot Wheels, Mattel tarafından piyasaya tanıtıldı. Modellerin hızlı görünümleri ve işleyen aksları ile piyasada önemli bir niş kitle elde etti. Kısa sürede popüler olan Hot Wheels dünyanın en çok satanları arasına girdi ve Matchbox 1-75 serileri ile rakip oldu.

                                                1960′larda farklı firmalar die-cast araçları tanıtım amaçlı promosyon ürünleri olarak kullanmaya başladılar. Çocuğun bir ailenin satın alma kararının önemli bir parçası olduğu fikri modellerin satışında hızlanmayı sağladı. Ek olarak,

                                                1980′lerden itibaren die-cast modeller, çocuklara oyuncak olarak değil, daha çok koleksiyon amacıyla yetişkinler tarafından satın alınmaya başlandı. Pek çok büyük firma da model üreticilerine, kendi isimlerini üzerlerinde taşıyan promosyon modelleri üretmeleri için, komisyon ve lisanslarını vermeye başladılar.

                                                1970′lerin başında die-cast piyasasının göz bebeği kamyonlar ve diğer ticari araç modelleri olmaya başladı.

                                                Diecast hakkında bilmeniz gerekenler #3

                                                DİECAST MODELLERDE ÖLÇEK ÇEŞİTLERİ
                                                1:12 ölçek - Yüksek detaya önem veren ve ciddi anlamda koleksiyon yapan yetişkinlere hitap eden, 35-38 cm civarında çok büyük modellerdir. Bu modeller 1:18 ölçekteki modellere göre daha pahalıdır.

                                                1:18 ölçek - 18-26 cm civarında, genellikle yetişkinlere hitap eden büyük modellerdir. Detay ve boyutuyla model araba koleksiyoncularının en çok tercih ettiği ölçeklerden biridir.

                                                1:24 ölçek - Oyuncak mağazalarında en çok görülen model ölçeğidir. Franklin Mint gibi çok detaylı model üreten firmalar olsa da genellikle basit ve detaysız modeller görülmektedir. Ayrıca 1:22,5 ölçeğe eş gelen G ölçek tren modellerine deuyum göstermektedir.

                                                1:43 ölçek - Dünya’da, özellikle Avrupa’da en çok popüler olan ölçeklerden biridir. Model çeşitliliği, yer sıkıntısı yaratmaması ve modellerin ufaklığına rağmen detaylarının göz doyurucu olması bu tercihi sağlayan önemli etkenlerdir. Ayrıca 1:48′e eş gelen O ölçek model trenlerle uyum göstermektedir.

                                                1:50 ölçek - Genellikle otobüs, inşaat makineleri, askeri araçlarda kullanılan ölçektir. O ölçek model trenlerle uyum göstermektedir.

                                                1:64 ölçek - S ölçek model trenlerle uyum gösteren ve dünyada pek çok çeşidi bulunabilen bir ölçektir.

                                                1:72 ölçek - Özellikle askeri araç ve uçak modellerinin çeşidini arttırmış olduğu ve araba modellerinin de çeşidinin bulunabileceği bir ölçektir.

                                                1:87 ölçek - 1:87 ölçeğe eş gelen ve en çok tercih edilen tren ölçeği olan HO ölçek model trenlere uyum gösteren ve dioramalarda en çok kullanılan ölçektir

                                                DİECAST MODEL ARABALAR NEREDEN NASIL ALINIR
                                                Diecastların  oyuncak mağazalarında bir çok ölçek çeşidi bulunmaktadır. Bunlar 1/18 , 1/24 ,1/32 ,1/43 ,1/50 , 1/87 gibi ölçeklerdir. Ayrıca tüm büyük marketlerde 1/50 , 1/43 , 1/32 ölçeklerde bulunmaktadır.

                                                Son zamanlarda ülkemizde yaygın şekilde kullanılan online açık arttırma(mezat)  yöntemiyle de bir çok farklı model ve ölçekte diecast ürün sahibi olmak mümkün.

                                                Ülkemizde diecast modeller, yerli üretimin yapılmaması ve yurt dışı ithalatta gümrüklerde kdv vb. fiyata eklenmelerin olması nedeniyle pahallıdır.

                                            </td>

                                        </tr>
                                        }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>